# Movie Franchise Analysis
Questions to answer:
1. How many movies should there be per franchise?
2. When do you stop adding to a franchise?
3. Do non-numbered sequels perform better than numbered sequels?
4. How long to wait before you reboot?

In [1]:
from imdb import IMDb
import numpy as np
import seaborn as sns
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import requests
from bs4 import BeautifulSoup as bs
from datetime import datetime

In [2]:
ia = IMDb(accessSystem='http', adultSearch=False)

In [3]:
Fran_data=pd.read_csv('Franchise_dataset.csv')
Fran_data=Fran_data.drop('Unnamed: 0',axis=1)

In [4]:
html = 'http://www.boxofficemojo.com/franchises/chart/?id=zoolander.htm'
r = requests.get(html)
page_source=r.content
page_soup = bs(page_source, "lxml")

In [5]:
print("The number of tables in the document is ", len(page_soup.find_all('table')) )

The number of tables in the document is  7

In [6]:
# Table attributes: table border="0" cellspacing="1" cellpadding="5" width="95%"
no_cell_space = len(page_soup.find_all('table', attrs={'cellspacing': '1'}))
print("The number of tables in the document with this cellspacing is ", no_cell_space)

no_cell_pad = len(page_soup.find_all('table', attrs={'cellpadding': '5'}))
print( "The number of tables in the document with this cellpadding is ", no_cell_pad)

no_border = len(page_soup.find_all('table', attrs={'border': '0'}))
print( "The number of tables in the document with this border is ", no_border)

The number of tables in the document with this cellspacing is  3
The number of tables in the document with this cellpadding is  3
The number of tables in the document with this border is  7

In [7]:
table = page_soup.find_all('table', attrs={'cellspacing': '1'})[2]  
#check header row
data_row = table.find_all('tr')[0]
data_cols = data_row.find_all('td') 
# List of columns in the first data row
data_cols = data_cols
for column in data_cols:
    print( column.text)

Rank
Title (click to view)
Studio
Worldwide
Domestic / %
Overseas / %
Year

In [8]:
table = page_soup.find_all('table', attrs={'cellspacing': '1'})[2]  
#check header row
data_row = table.find_all('tr')[1]
data_cols = data_row.find_all('td')  # List of columns in the first data row
for column in data_cols:
    print( column.text)  # Access the text in each column

1
Zoolander
Par.
$60.8
$45.2
74.3%
$15.6
25.7%
2001

In [9]:
# Set up the dictionary to save the data
output_columns = ['Rank', 'Movie','Studio', 'Revenue', 'Domestic Revenue', 'Domestic %',
                  'Oversees Revenue', 'Oversees %', 'Year']
output = dict((x, []) for x in output_columns)
#Ignore first row coz its the header row
all_rows = table.find_all('tr')[1:3]
for row in all_rows:
    row_cols = row.find_all('td')
    # Loop through the columns and output keys to populate dictionary
    for dict_key, col in zip(output_columns, row_cols):
        output[dict_key].append(col.text)
        
# Put output into a DataFrame and rearrange columns in desired order
output_pd = pd.DataFrame(output)
output_pd = output_pd[output_columns]

In [10]:
output_pd

,Rank,Movie,Studio,Revenue,Domestic Revenue,Domestic %,Oversees Revenue,Oversees %,Year
0,1,Zoolander,Par.,$60.8,$45.2,74.3%,$15.6,25.7%,2001
1,2,Zoolander 2,Par.,$56.7,$28.8,50.9%,$27.9,49.1%,2016

In [11]:
output_columns = ['Rank', 'Movie','Studio', 'Gross', 'Theatre', 'Opening',
                  'Opening Theatre', 'Date']
base='http://www.boxofficemojo.com/franchises'
output = dict((x, []) for x in output_columns)

for ID, total_movies in zip(Fran_data['FranchiseID'],Fran_data['Total Movies']):
    html = base+ID
    r = requests.get(html)
    page_source=r.content
    page_soup = bs(page_source, "lxml")
    table = page_soup.find_all('table', attrs={'cellspacing': '1'})[0]  
    all_rows = table.find_all('tr')[1:1+total_movies]
    
    for row in all_rows:
        row_cols = row.find_all('td')
    # Loop through the columns and output keys to populate dictionary
        for dict_key, col in zip(output_columns, row_cols):
            output[dict_key].append(col.text)
        
output_pd = pd.DataFrame(output)
output_pd = output_pd[output_columns]

In [12]:
movie_data=output_pd

In [13]:
fran_id=[]
for ID, total_movies in zip(Fran_data['Franchise'],Fran_data['Total Movies']):
    for i in range(total_movies):
        fran_id.append(ID)

movie_data['Franchise']=fran_id

In [14]:
dates=movie_data['Date']
movie_year=[]
for date in dates:
    date_obj=datetime.strptime(date, '%m/%d/%y')
    movie_year.append(date_obj.year)
    
movie_data['Year']=movie_year

In [15]:
scrub_list=['Gross', 'Theatre', 'Opening', 'Opening Theatre']
for elem in scrub_list:
    for i in range(movie_data.shape[0]):
        if movie_data.loc[i,elem] == '-' or movie_data.loc[i,elem] == 'n/a':
            movie_data.loc[i,elem] = 0
        else:
            movie_data.loc[i,elem] = movie_data.loc[i,elem].strip('$')
            movie_data.loc[i,elem] = movie_data.loc[i,elem].replace(',','')
            movie_data.loc[i,elem] = int(movie_data.loc[i,elem])

In [16]:
movie_data

,Rank,Movie,Studio,Gross,Theatre,Opening,Opening Theatre,Date,Franchise,Year
0,1,300,WB,210614939,3280,70885301,3103,3/9/07,300,2007
1,2,300: Rise of An Empire,WB,106580051,3490,45038460,3470,3/7/14,300,2014
2,1,Alice in Wonderland (2010),BV,334191110,3739,116101023,3728,3/5/10,Alice in Wonderland,2010
3,2,Alice Through the Looking Glass,BV,77041381,3763,26858726,3763,5/27/16,Alice in Wonderland,2016
4,1,Alvin and the Chipmunks: The Squeakquel,Fox,219614612,3747,48875415,3700,12/23/09,Alvin and the Chipmunks,2009
5,2,Alvin and the Chipmunks,Fox,217326974,3499,44307417,3475,12/14/07,Alvin and the Chipmunks,2007
6,3,Alvin and the Chipmunks: Chipwrecked,Fox,133110742,3734,23244744,3723,12/16/11,Alvin and the Chipmunks,2011
7,4,Alvin and the Chipmunks: The Road Chip,Fox,85886987,3705,14287159,3653,12/18/15,Alvin and the Chipmunks,2015
8,5,The Chipmunk Adventure,Gold.,6804312,916,2584720,916,5/22/87,Alvin and the Chipmunks,1987
9,1,American Pie 2,Uni.,145103595,3157,45117985,3063,8/10/01,American Pie,2001
10,2,American Wedding,Uni.,104565114,3175,33369440,3172,8/1/03,American Pie,2003
11,3,American Pie,Uni.,102561004,2544,18709680,2508,7/9/99,American Pie,1999
12,4,American Reunion,Uni.,57011521,3203,21514080,3192,4/6/12,American Pie,2012
13,1,Austin Powers in Goldmember,NL,213307889,3613,73071188,3613,7/26/02,Austin Powers,2002
14,2,Austin Powers: The Spy Who Shagged Me,NL,206040086,3314,54917604,3312,6/11/99,Austin Powers,1999
15,3,Austin Powers: International Man of Mystery,NL,53883989,2187,9548111,2187,5/2/97,Austin Powers,1997
16,1,Avengers: Infinity War,BV,672913479,4474,257698183,4474,4/27/18,Avengers,2018
17,2,Marvel's The Avengers,BV,623357910,4349,207438708,4349,5/4/12,Avengers,2012
18,3,Avengers: Age of Ultron,BV,459005868,4276,191271109,4276,5/1/15,Avengers,2015
19,1,Back to the Future,Uni.,210609762,1550,11152500,1420,7/3/85,Back to the Future,1985
20,2,Back to the Future Part II,Uni.,118450002,2107,27835125,1865,11/22/89,Back to the Future,1989
21,3,Back to the Future Part III,Uni.,87727583,2070,19089645,2019,5/25/90,Back to the Future,1990
22,1,Bad Boys II,Sony,138608444,3202,46522560,3186,7/18/03,Bad Boys,2003
23,2,Bad Boys,Sony,65807024,2132,15523358,2132,4/7/95,Bad Boys,1995
24,1,The Dark Knight,WB,533345358,4366,158411483,4366,7/18/08,Batman,2008
25,2,The Dark Knight Rises,WB,448139099,4404,160887295,4404,7/20/12,Batman,2012
26,3,Batman v Superman: Dawn of Justice,WB,330360194,4256,166007347,4242,3/25/16,Batman,2016
27,4,Batman,WB,251188924,2201,40489746,2194,6/23/89,Batman,1989
28,5,Batman Begins,WB,205343774,3858,48745440,3858,6/15/05,Batman,2005
29,6,Batman Forever,WB,184031112,2893,52784433,2842,6/16/95,Batman,1995
...,...,...,...,...,...,...,...,...,...,...
356,2,Toy Story 2,BV,245852179,3257,300163,1,11/19/99,Toy Story,1999
357,3,Toy Story,BV,191796233,2574,29140617,2457,11/22/95,Toy Story,1995
358,4,Toy Story / Toy Story 2 (3D),BV,30702446,1752,12491789,1745,10/2/09,Toy Story,2009
359,1,Transformers: Revenge of the Fallen,P/DW,402111870,4293,108966307,4234,6/24/09,Transformers,2009
360,2,Transformers: Dark of the Moon,P/DW,352390543,4088,97852865,4088,6/29/11,Transformers,2011
361,3,Transformers,P/DW,319246193,4050,70502384,4011,7/3/07,Transformers,2007
362,4,Transformers: Age of Extinction,Par.,245439076,4233,100038390,4233,6/27/14,Transformers,2014
363,5,Transformers: The Last Knight,Par.,130168683,4132,44680073,4069,6/21/17,Transformers,2017
364,6,Transformers: The Movie,DEG,5849647,990,1779559,990,8/8/86,Transformers,1986
365,1,The Twilight Saga: Eclipse,Sum.,300531751,4468,64832191,4468,6/30/10,Twilight,2010
366,2,The Twilight Saga: New Moon,Sum.,296623634,4124,142839137,4024,11/20/09,Twilight,2009
367,3,The Twilight Saga: Breaking Dawn Part 2,LG/S,292324737,4070,141067634,4070,11/16/12,Twilight,2012
368,4,The Twilight Saga: Breaking Dawn Part 1,Sum.,281287133,4066,138122261,4061,11/18/11,Twilight,2011
369,5,Twilight,Sum.,192769854,3649,69637740,3419,11/21/08,Twilight,2008
370,1,Split,Uni.,138291365,3373,40010975,3038,1/20/17,Unbreakable,2017
371,2,Unbreakable,BV,95011339,2708,30330771,2708,11/22/00,Unbreakable,2000
372,1,Logan,Fox,226277068,4071,88411916,4071,3/3/17,Wolverine,2017
373,2,X-Men Origins: Wolverine,Fox,179883157,4102,85058003,4099,5/1/09,Wolverine,2009
374,3,The Wolverine,Fox,132556852,3924,53113752,3924,7/26/13,Wolverine,2013
375,1,Deadpool,Fox,363070709,3856,132434639,3558,2/12/16,X-Men,2016
376,2,Deadpool 2,Fox,311082941,4349,125507153,4349,5/18/18,X-Men,2018
377,3,X-Men: The Last Stand,Fox,234362462,3714,102750665,3690,5/26/06,X-Men,2006
378,4,X-Men: Days of Future Past,Fox,233921534,4001,90823660,3996,5/23/14,X-Men,2014
379,5,Logan,Fox,226277068,4071,88411916,4071,3/3/17,X-Men,2017
380,6,X2: X-Men United,Fox,214949694,3749,85558731,3741,5/2/03,X-Men,2003
381,7,X-Men Origins: Wolverine,Fox,179883157,4102,85058003,4099,5/1/09,X-Men,2009
382,8,X-Men,Fox,157299717,3112,54471475,3025,7/14/00,X-Men,2000
383,9,X-Men: Apocalypse,Fox,155442489,4153,65769562,4150,5/27/16,X-Men,2016
384,10,X-Men: First Class,Fox,146408305,3692,55101604,3641,6/3/11,X-Men,2011
385,11,The Wolverine,Fox,132556852,3924,53113752,3924,7/26/13,X-Men,2013

In [17]:
jk=movie_data['Franchise']=='J.K. Rowling\'s Wizarding World'
me=movie_data['Franchise']=='Middle Earth'
drop_list=np.where(jk)
drop_list=np.append(drop_list,[135,332,358])
drop_list=np.append(drop_list,np.where(me))
drop_list=drop_list.flatten()
drop_list

array([166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 135, 358, 236,
       237, 238, 239, 240, 241], dtype=int64)

In [18]:
movie_data=movie_data.drop(drop_list)
#split array
sp_index=np.split(np.array(movie_data.index),16)

In [20]:
#Add ratings
imdb_rating=[]
meta_score=[]
imdb_year=[]
# split index 0

for i in sp_index[0]:
    print(i)
    mov=ia.search_movie(movie_data.loc[i,'Movie'])
    if mov == []:
        imdb_year.append(3000)
        imdb_rating.append(0)
        meta_score.append(0)
    else:
        mov=ia.search_movie(movie_data.loc[i,'Movie'])[0]
        movie=ia.get_movie(mov.movieID)
        imdb_year.append(movie['year'])
        if 'rating' not in movie.keys():
            movie['rating']=0
        imdb_rating.append(movie['rating'])
        if movie['rating'] == 0:
            meta_score.append(0)
        else:
            m=ia.get_movie_critic_reviews(movie.movieID)
            if 'metascore' not in m['data'].keys():
                m['data']['metascore']='0'
            meta_score.append(int(m['data']['metascore']))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22

In [59]:
movie_data['Imdb Year']=imdb_year
movie_data['Imdb Rating']=imdb_rating
movie_data['Meta Score']=meta_score

In [76]:
bad_year=movie_data[movie_data['Imdb Year'] != movie_data['Year'] ]

In [77]:
bad_score=movie_data[ movie_data['Meta Score'] ==0]

In [108]:
drop_index1=np.array(bad_year.index,dtype=int)
drop_index2=np.array(bad_score.index, dtype=int)
drop_index=np.array([drop_index1,drop_index2])
drop_index=drop_index.flatten()
drop_index=np.hstack((drop_index[0],drop_index[1]))
drop_index=np.unique(drop_index)
drop_index

array([  0,   8,  27,  33,  34, 101, 115, 116, 127, 130, 140, 141, 189,
       190, 191, 202, 206, 235, 250, 309, 332, 339, 342, 344, 364, 367,
       368, 370])

In [109]:
movie_data.loc[drop_index]

,Rank,Movie,Studio,Gross,Theatre,Opening,Opening Theatre,Date,Franchise,Year,Imdb Year,Imdb Rating,Meta Score
0,1,300,WB,210614939,3280,70885301,3103,3/9/07,300,2007.0,2006.0,7.7,52.0
8,5,The Chipmunk Adventure,Gold.,6804312,916,2584720,916,5/22/87,Alvin and the Chipmunks,1987.0,1987.0,7.2,0.0
27,4,Batman,WB,251188924,2201,40489746,2194,6/23/89,Batman,1989.0,1966.0,7.6,69.0
33,10,Batman: Mask of the Phantasm,WB,5617391,1506,1189975,1506,12/25/93,Batman,1993.0,1993.0,7.9,0.0
34,11,Batman: The Killing Joke,Fathom,3775000,1325,0,0,7/25/16,Batman,2016.0,2016.0,6.5,0.0
101,5,Fast and Furious,Uni.,155064265,3674,70950500,3461,4/3/09,The Fast and the Furious,2009.0,2001.0,6.6,46.0
115,1,Ghostbusters,Col.,229242989,1506,13578151,1339,6/8/84,Ghostbusters,1984.0,2016.0,7.8,71.0
116,2,Ghostbusters (2016),Sony,128350574,3963,46018755,3963,7/15/16,Ghostbusters,2016.0,2016.0,3.0,0.0
127,1,Harry Potter and the Deathly Hallows Part 2,WB,381011219,4375,169189427,4375,7/15/11,Harry Potter,2011.0,2016.0,8.1,87.0
130,4,Harry Potter and the Deathly Hallows Part 1,WB,295983305,4125,125017372,4125,11/19/10,Harry Potter,2010.0,2016.0,7.7,65.0
140,2,Home Alone 2: Lost in New York,Fox,173585516,2461,31126882,2222,11/20/92,Home Alone,1992.0,1992.0,6.6,0.0
141,3,Home Alone 3,Fox,30882515,2261,5085482,2147,12/12/97,Home Alone,1997.0,1997.0,4.4,0.0
189,3,King Kong (1976),Par.,52614445,0,7023921,974,12/17/76,King Kong,1976.0,1976.0,5.9,0.0
190,4,King Kong Lives,DEG,4711220,1105,1172942,1105,12/19/86,King Kong,1986.0,1986.0,3.8,0.0
191,1,Kingsman: The Secret Service,Fox,128261724,3282,36206331,3204,2/13/15,Kingsman Franchise,2015.0,2014.0,7.7,60.0
202,4,Lethal Weapon,WB,65207127,1420,6829949,1256,3/6/87,Lethal Weapon,1987.0,2016.0,7.6,67.0
206,4,The Lord of the Rings (1978),UA,30471420,31,626649,31,11/15/78,The Lord of the Rings,1978.0,1978.0,6.2,0.0
235,3,MIB 3,Sony,179020854,4248,54592779,4248,5/25/12,Men in Black,2012.0,2012.0,0.0,0.0
250,2,The Mummy,Uni.,155385488,3411,43369635,3210,5/7/99,The Mummy,1999.0,2017.0,7.0,48.0
309,1,Star Trek,Par.,257730019,4053,75204289,3849,5/8/09,Star Trek,2009.0,1966.0,8.0,82.0
332,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
339,5,Superman II,WB,108185706,1878,14100523,1397,6/19/81,Superman,1981.0,1980.0,6.8,87.0
342,1,Taken,Fox,145000989,3184,24717037,3183,1/30/09,Taken,2009.0,2017.0,7.8,50.0
344,3,Taken 3,Fox,89256424,3594,39201657,3594,1/9/15,Taken,2015.0,2014.0,6.0,26.0
364,6,Transformers: The Movie,DEG,5849647,990,1779559,990,8/8/86,Transformers,1986.0,1986.0,7.3,0.0
367,3,The Twilight Saga: Breaking Dawn Part 2,LG/S,292324737,4070,141067634,4070,11/16/12,Twilight,2012.0,2012.0,0.0,0.0
368,4,The Twilight Saga: Breaking Dawn Part 1,Sum.,281287133,4066,138122261,4061,11/18/11,Twilight,2011.0,2012.0,4.9,45.0
370,1,Split,Uni.,138291365,3373,40010975,3038,1/20/17,Unbreakable,2017.0,2016.0,7.3,62.0

In [110]:
# Hard coded corrections
# Bad data index: [  0,   8,  27,  33,  34, 101, 115, 116, 127, 130, 140, 141, 189,190, 
#                  191, 202, 206, 235, 250, 309, 332, 339, 342, 344, 364, 367,368, 370])
# Index = 0 Wrong year no action required

# Index = 8 No metacritic score

# Index = 27 
movie_data.loc[27,'Imdb Rating']=7.6
movie_data.loc[27,'Meta Score']=69

# Index = 27 
movie_data.loc[27,'Imdb Rating']=7.6
movie_data.loc[27,'Meta Score']=69

# Index = 101
movie_data.loc[101,'Imdb Rating']=6.6
movie_data.loc[101,'Meta Score']=46

# Index = 115
movie_data.loc[115,'Imdb Rating']=7.8
movie_data.loc[115,'Meta Score']=71

# Index = 116
movie_data.loc[116,'Imdb Rating']=5.3
movie_data.loc[115,'Meta Score']=60

# Index = 127
movie_data.loc[127,'Imdb Rating']=8.1
movie_data.loc[127,'Meta Score']=87

# Index = 130
movie_data.loc[130,'Imdb Rating']=7.7
movie_data.loc[130,'Meta Score']=65

# Index = 140 No metacritic score
# Index = 141 No metacritic score
# Index = 189 No metacritic score
# Index = 190 No metacritic score
# Index = 191 wrong year
# Index = 206 No metacritic score

# Index = 202
movie_data.loc[202,'Imdb Rating']=7.6
movie_data.loc[202,'Meta Score']=67

# Index = 235
movie_data.loc[235,'Imdb Rating']=6.8
movie_data.loc[235,'Meta Score']=58

# Index = 250
movie_data.loc[250,'Imdb Rating']=7.0
movie_data.loc[250,'Meta Score']=48

# Index = 309
movie_data.loc[309,'Imdb Rating']=8.0
movie_data.loc[309,'Meta Score']=82

# Index = 332
#movie_data=movie_data.drop(332)

# Index = 339 wrong year

# Index = 342
movie_data.loc[342,'Imdb Rating']=7.8
movie_data.loc[342,'Meta Score']=50

# Index = 344 wrong year
# Index = 364 No metacritic score

# Index = 367
movie_data.loc[367,'Imdb Rating']=5.5
movie_data.loc[367,'Meta Score']=52

# Index = 368
movie_data.loc[368,'Imdb Rating']=4.9
movie_data.loc[368,'Meta Score']=45

# Index = 368 wrong year

In [111]:
movie_data

,Rank,Movie,Studio,Gross,Theatre,Opening,Opening Theatre,Date,Franchise,Year,Imdb Year,Imdb Rating,Meta Score
0,1,300,WB,210614939,3280,70885301,3103,3/9/07,300,2007,2006,7.7,52
1,2,300: Rise of An Empire,WB,106580051,3490,45038460,3470,3/7/14,300,2014,2014,6.2,48
2,1,Alice in Wonderland (2010),BV,334191110,3739,116101023,3728,3/5/10,Alice in Wonderland,2010,2010,6.5,53
3,2,Alice Through the Looking Glass,BV,77041381,3763,26858726,3763,5/27/16,Alice in Wonderland,2016,2016,6.2,34
4,1,Alvin and the Chipmunks: The Squeakquel,Fox,219614612,3747,48875415,3700,12/23/09,Alvin and the Chipmunks,2009,2009,4.5,41
5,2,Alvin and the Chipmunks,Fox,217326974,3499,44307417,3475,12/14/07,Alvin and the Chipmunks,2007,2007,5.2,39
6,3,Alvin and the Chipmunks: Chipwrecked,Fox,133110742,3734,23244744,3723,12/16/11,Alvin and the Chipmunks,2011,2011,4.4,24
7,4,Alvin and the Chipmunks: The Road Chip,Fox,85886987,3705,14287159,3653,12/18/15,Alvin and the Chipmunks,2015,2015,5.1,33
8,5,The Chipmunk Adventure,Gold.,6804312,916,2584720,916,5/22/87,Alvin and the Chipmunks,1987,1987,7.2,0
9,1,American Pie 2,Uni.,145103595,3157,45117985,3063,8/10/01,American Pie,2001,2001,6.4,43
10,2,American Wedding,Uni.,104565114,3175,33369440,3172,8/1/03,American Pie,2003,2003,6.3,43
11,3,American Pie,Uni.,102561004,2544,18709680,2508,7/9/99,American Pie,1999,1999,7.0,58
12,4,American Reunion,Uni.,57011521,3203,21514080,3192,4/6/12,American Pie,2012,2012,6.7,49
13,1,Austin Powers in Goldmember,NL,213307889,3613,73071188,3613,7/26/02,Austin Powers,2002,2002,6.2,62
14,2,Austin Powers: The Spy Who Shagged Me,NL,206040086,3314,54917604,3312,6/11/99,Austin Powers,1999,1999,6.6,59
15,3,Austin Powers: International Man of Mystery,NL,53883989,2187,9548111,2187,5/2/97,Austin Powers,1997,1997,7.0,51
16,1,Avengers: Infinity War,BV,672913479,4474,257698183,4474,4/27/18,Avengers,2018,2018,8.7,68
17,2,Marvel's The Avengers,BV,623357910,4349,207438708,4349,5/4/12,Avengers,2012,2012,8.1,69
18,3,Avengers: Age of Ultron,BV,459005868,4276,191271109,4276,5/1/15,Avengers,2015,2015,7.4,66
19,1,Back to the Future,Uni.,210609762,1550,11152500,1420,7/3/85,Back to the Future,1985,1985,8.5,86
20,2,Back to the Future Part II,Uni.,118450002,2107,27835125,1865,11/22/89,Back to the Future,1989,1989,7.8,57
21,3,Back to the Future Part III,Uni.,87727583,2070,19089645,2019,5/25/90,Back to the Future,1990,1990,7.4,55
22,1,Bad Boys II,Sony,138608444,3202,46522560,3186,7/18/03,Bad Boys,2003,2003,6.6,38
23,2,Bad Boys,Sony,65807024,2132,15523358,2132,4/7/95,Bad Boys,1995,1995,6.8,41
24,1,The Dark Knight,WB,533345358,4366,158411483,4366,7/18/08,Batman,2008,2008,9.0,82
25,2,The Dark Knight Rises,WB,448139099,4404,160887295,4404,7/20/12,Batman,2012,2012,8.4,78
26,3,Batman v Superman: Dawn of Justice,WB,330360194,4256,166007347,4242,3/25/16,Batman,2016,2016,6.6,44
27,4,Batman,WB,251188924,2201,40489746,2194,6/23/89,Batman,1989,1966,7.6,69
28,5,Batman Begins,WB,205343774,3858,48745440,3858,6/15/05,Batman,2005,2005,8.3,70
29,6,Batman Forever,WB,184031112,2893,52784433,2842,6/16/95,Batman,1995,1995,5.4,51
...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,1,Toy Story 3,BV,415004880,4028,110307189,4028,6/18/10,Toy Story,2010,2010,8.3,92
356,2,Toy Story 2,BV,245852179,3257,300163,1,11/19/99,Toy Story,1999,1999,7.9,88
357,3,Toy Story,BV,191796233,2574,29140617,2457,11/22/95,Toy Story,1995,1995,8.3,95
359,1,Transformers: Revenge of the Fallen,P/DW,402111870,4293,108966307,4234,6/24/09,Transformers,2009,2009,6.0,35
360,2,Transformers: Dark of the Moon,P/DW,352390543,4088,97852865,4088,6/29/11,Transformers,2011,2011,6.3,42
361,3,Transformers,P/DW,319246193,4050,70502384,4011,7/3/07,Transformers,2007,2007,7.1,61
362,4,Transformers: Age of Extinction,Par.,245439076,4233,100038390,4233,6/27/14,Transformers,2014,2014,5.7,32
363,5,Transformers: The Last Knight,Par.,130168683,4132,44680073,4069,6/21/17,Transformers,2017,2017,5.2,27
364,6,Transformers: The Movie,DEG,5849647,990,1779559,990,8/8/86,Transformers,1986,1986,7.3,0
365,1,The Twilight Saga: Eclipse,Sum.,300531751,4468,64832191,4468,6/30/10,Twilight,2010,2010,5.0,58
366,2,The Twilight Saga: New Moon,Sum.,296623634,4124,142839137,4024,11/20/09,Twilight,2009,2009,4.7,44
367,3,The Twilight Saga: Breaking Dawn Part 2,LG/S,292324737,4070,141067634,4070,11/16/12,Twilight,2012,2012,5.5,52
368,4,The Twilight Saga: Breaking Dawn Part 1,Sum.,281287133,4066,138122261,4061,11/18/11,Twilight,2011,2012,4.9,45
369,5,Twilight,Sum.,192769854,3649,69637740,3419,11/21/08,Twilight,2008,2008,5.2,56
370,1,Split,Uni.,138291365,3373,40010975,3038,1/20/17,Unbreakable,2017,2016,7.3,62
371,2,Unbreakable,BV,95011339,2708,30330771,2708,11/22/00,Unbreakable,2000,2000,7.2,62
372,1,Logan,Fox,226277068,4071,88411916,4071,3/3/17,Wolverine,2017,2017,8.1,77
373,2,X-Men Origins: Wolverine,Fox,179883157,4102,85058003,4099,5/1/09,Wolverine,2009,2009,6.6,40
374,3,The Wolverine,Fox,132556852,3924,53113752,3924,7/26/13,Wolverine,2013,2013,6.7,61
375,1,Deadpool,Fox,363070709,3856,132434639,3558,2/12/16,X-Men,2016,2016,8.0,65
376,2,Deadpool 2,Fox,311082941,4349,125507153,4349,5/18/18,X-Men,2018,2018,8.1,66
377,3,X-Men: The Last Stand,Fox,234362462,3714,102750665,3690,5/26/06,X-Men,2006,2006,6.7,58
378,4,X-Men: Days of Future Past,Fox,233921534,4001,90823660,3996,5/23/14,X-Men,2014,2014,8.0,75
379,5,Logan,Fox,226277068,4071,88411916,4071,3/3/17,X-Men,2017,2017,8.1,77
380,6,X2: X-Men United,Fox,214949694,3749,85558731,3741,5/2/03,X-Men,2003,2003,7.5,68
381,7,X-Men Origins: Wolverine,Fox,179883157,4102,85058003,4099,5/1/09,X-Men,2009,2009,6.6,40
382,8,X-Men,Fox,157299717,3112,54471475,3025,7/14/00,X-Men,2000,2000,7.4,64
383,9,X-Men: Apocalypse,Fox,155442489,4153,65769562,4150,5/27/16,X-Men,2016,2016,7.0,52
384,10,X-Men: First Class,Fox,146408305,3692,55101604,3641,6/3/11,X-Men,2011,2011,7.8,65
385,11,The Wolverine,Fox,132556852,3924,53113752,3924,7/26/13,X-Men,2013,2013,6.7,61

In [112]:
np.where(movie_data['Imdb Rating']==0)[0]

array([], dtype=int64)

In [113]:
np.where(movie_data['Meta Score']==0)[0]

array([  8,  33,  34, 116, 139, 140, 178, 179, 195, 345], dtype=int64)

In [114]:
movie_data.to_csv('final_movie_dataset.csv')